In [1]:
import pandas as pd
import os

In [2]:
raw_file = r"data/europe_heat.csv"
output_folder = "output"
os.makedirs(output_folder, exist_ok=True)

In [5]:
dataframe = pd.read_csv(raw_file)
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Dis No                                     88 non-null     object
 1   Year                                       88 non-null     int64
 2   Seq                                        88 non-null     int64
 3   Glide                                      11 non-null     object
 4   Disaster Group                             88 non-null     object
 5   Disaster Subgroup                          88 non-null     object
 6   Disaster Type                              88 non-null     object
 7   Disaster Subtype                           88 non-null     object
 8   Disaster Subsubtype                        0 non-null      float64
 9   Event Name                                 0 non-null      float64
 10  Country                                    88 non-null     object
 11  ISO                                        88 non-null     object
 12  Region                                     88 non-null     object
 13  Continent                                  88 non-null     object
 14  Location                                   62 non-null     object
 15  Origin                                     0 non-null      float64
 16  Associated Dis                             16 non-null     object
 17  Associated Dis2                            3 non-null      object
 18  OFDA Response                              0 non-null      float64
 19  Appeal                                     1 non-null      object
 20  Declaration                                3 non-null      object
 21  AID Contribution ('000 US$)                0 non-null      float64
 22  Dis Mag Value                              54 non-null     float64
 23  Dis Mag Scale                              88 non-null     object
 24  Latitude                                   0 non-null      float64
 25  Longitude                                  0 non-null      float64
 26  Local Time                                 1 non-null      float64
 27  River Basin                                0 non-null      float64
 28  Start Year                                 88 non-null     int64
 29  Start Month                                88 non-null     int64
 30  Start Day                                  54 non-null     float64
 31  End Year                                   88 non-null     int64
 32  End Month                                  88 non-null     int64
 33  End Day                                    50 non-null     float64
 34  Total Deaths                               74 non-null     float64
 35  No Injured                                 11 non-null     float64
 36  No Affected                                2 non-null      float64
 37  No Homeless                                0 non-null      float64
 38  Total Affected                             13 non-null     float64
 39  Reconstruction Costs ('000 US$)            0 non-null      float64
 40  Reconstruction Costs, Adjusted ('000 US$)  0 non-null      float64
 41  Insured Damages ('000 US$)                 1 non-null      float64
 42  Insured Damages, Adjusted ('000 US$)       1 non-null      float64
 43  Total Damages ('000 US$)                   12 non-null     float64
 44  Total Damages, Adjusted ('000 US$)         12 non-null     float64
 45  CPI                                        88 non-null     float64
 46  Adm Level                                  61 non-null     object
 47  Admin1 Code                                52 non-null     object
 48  Admin2 Code                                11 non-null     object
 49  Geo Locations                              61 non-null     object
dtypes: float64(24), int64(6), object(20)
memory usage: 34.5+ KB

In [7]:
over40_df = dataframe[dataframe["Dis Mag Value"]>=40]
over40_df.shape

(36, 50)

In [8]:
over40_df["Country"].value_counts()

France                                                        5
Spain                                                         4
Italy                                                         4
Romania                                                       4
Greece                                                        3
Macedonia (the former Yugoslav Republic of)                   2
Portugal                                                      2
Bulgaria                                                      2
Serbia Montenegro                                             1
Canary Is                                                     1
Hungary                                                       1
Slovakia                                                      1
Serbia                                                        1
Russian Federation (the)                                      1
United Kingdom of Great Britain and Northern Ireland (the)    1
Belgium                                                       1
Germany                                                       1
Netherlands (the)                                             1
Name: Country, dtype: int64