In [2]:
import pandas as pd
import os

In [3]:
raw_file = r"data/global_events_1900_2022.csv"
output_folder = "output"
os.makedirs(output_folder, exist_ok=True)

In [4]:
dataframe = pd.read_csv(raw_file, encoding='latin1')
dataframe.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
2,1904-0003-BGD,1904,3,NaN,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.323258,NaN,NaN,NaN,NaN
3,1906-0023-BEL,1906,23,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.323258,NaN,NaN,NaN,NaN
4,1906-0024-BEL,1906,24,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.323258,NaN,NaN,NaN,NaN

In [5]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11813 entries, 0 to 11812
Data columns (total 50 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Dis No                                     11813 non-null  object
 1   Year                                       11813 non-null  int64
 2   Seq                                        11813 non-null  int64
 3   Glide                                      1272 non-null   object
 4   Disaster Group                             11813 non-null  object
 5   Disaster Subgroup                          11813 non-null  object
 6   Disaster Type                              11813 non-null  object
 7   Disaster Subtype                           8747 non-null   object
 8   Disaster Subsubtype                        1091 non-null   object
 9   Event Name                                 2424 non-null   object
 10  Country                                    11813 non-null  object
 11  ISO                                        11813 non-null  object
 12  Region                                     11813 non-null  object
 13  Continent                                  11813 non-null  object
 14  Location                                   10554 non-null  object
 15  Origin                                     3695 non-null   object
 16  Associated Dis                             3050 non-null   object
 17  Associated Dis2                            686 non-null    object
 18  OFDA Response                              1230 non-null   object
 19  Appeal                                     1426 non-null   object
 20  Declaration                                2094 non-null   object
 21  AID Contribution ('000 US$)                597 non-null    float64
 22  Dis Mag Value                              3312 non-null   float64
 23  Dis Mag Scale                              11813 non-null  object
 24  Latitude                                   1112 non-null   float64
 25  Longitude                                  1112 non-null   float64
 26  Local Time                                 6 non-null      object
 27  River Basin                                1307 non-null   object
 28  Start Year                                 11813 non-null  int64
 29  Start Month                                11554 non-null  float64
 30  Start Day                                  9404 non-null   float64
 31  End Year                                   11813 non-null  int64
 32  End Month                                  11228 non-null  float64
 33  End Day                                    9404 non-null   float64
 34  Total Deaths                               8088 non-null   float64
 35  No Injured                                 2519 non-null   float64
 36  No Affected                                7043 non-null   float64
 37  No Homeless                                1825 non-null   float64
 38  Total Affected                             8592 non-null   float64
 39  Reconstruction Costs ('000 US$)            23 non-null     float64
 40  Reconstruction Costs, Adjusted ('000 US$)  23 non-null     float64
 41  Insured Damages ('000 US$)                 986 non-null    float64
 42  Insured Damages, Adjusted ('000 US$)       982 non-null    float64
 43  Total Damages ('000 US$)                   4521 non-null   float64
 44  Total Damages, Adjusted ('000 US$)         4476 non-null   float64
 45  CPI                                        11506 non-null  float64
 46  Adm Level                                  6904 non-null   object
 47  Admin1 Code                                4417 non-null   object
 48  Admin2 Code                                3200 non-null   object
 49  Geo Locations                              6904 non-null   object
dtypes: float64(20), int64(4), object(26)
memory usage: 4.5+ MB

In [6]:
phase1 = dataframe[(dataframe["Year"]>1962) & (dataframe["Year"]<=1982)]
phase2 = dataframe[(dataframe["Year"]>1982) & (dataframe["Year"]<=2002)]
phase3 = dataframe[(dataframe["Year"]>2002) & (dataframe["Year"]<=2022)]
print(phase1.shape[0],phase2.shape[0],phase3.shape[0])

1284 3917 6087

In [43]:
phase1["Country"].value_counts().to_csv(f"{output_folder}/phase1_events.csv")

In [44]:
phase2["Country"].value_counts().to_csv(f"{output_folder}/phase2_events.csv")

In [45]:
phase3["Country"].value_counts().to_csv(f"{output_folder}/phase3_events.csv")

In [11]:
dataframe["Disaster Type"].value_counts()

Flood                  5758
Storm                  4585
Drought                 792
Wildfire                455
Extreme temperature     223
Name: Disaster Type, dtype: int64

In [45]:
phase3["Country"].value_counts()

United States of America (the)    454
China                             383
India                             268
Philippines (the)                 256
Indonesia                         189
                                 ...
Anguilla                            1
Wallis and Futuna                   1
Estonia                             1
Tokelau                             1
Sao Tome and Principe               1
Name: Country, Length: 211, dtype: int64

In [24]:
phase3_flood = phase3[phase3["Disaster Type"]=="Flood"]
phase3_storm = phase3[phase3["Disaster Type"]=="Storm"]

phase3_wildfire = phase3[phase3["Disaster Type"]=="Wildfire"]
phase3_heat = phase3[(phase3["Disaster Type"]=="Drought") | (phase3["Disaster Type"]=="Extreme temperature")]

In [44]:
phase3[phase3["Country"]=="India"]["Disaster Type"].value_counts()

Flood                  167
Storm                   83
Extreme temperature     13
Drought                  3
Wildfire                 2
Name: Disaster Type, dtype: int64

In [46]:
phase3[phase3["Country"]=="China"]["Disaster Type"].value_counts()

Flood                  183
Storm                  176
Drought                 17
Wildfire                 4
Extreme temperature      3
Name: Disaster Type, dtype: int64

In [47]:
phase3[phase3["Country"]=="United States of America (the)"]["Disaster Type"].value_counts()

Storm                  287
Flood                   94
Wildfire                56
Drought                 11
Extreme temperature      6
Name: Disaster Type, dtype: int64

In [26]:
phase3_storm["Country"].value_counts()

United States of America (the)    287
China                             176
Philippines (the)                 161
India                              83
Japan                              74
                                 ...
French Polynesia                    1
Bermuda                             1
Albania                             1
Peru                                1
Iraq                                1
Name: Country, Length: 176, dtype: int64

In [27]:
phase3_wildfire["Country"].value_counts()

United States of America (the)                 56
Australia                                      19
Chile                                          10
Spain                                          10
Portugal                                        9
Russian Federation (the)                        9
Canada                                          9
Greece                                          7
Croatia                                         4
France                                          4
Indonesia                                       4
China                                           4
Bolivia (Plurinational State of)                4
Korea (the Republic of)                         4
Israel                                          3
Bulgaria                                        3
Algeria                                         3
South Africa                                    3
Italy                                           3
Congo (the Democratic Republic of the)          3
Macedonia (the former Yugoslav Republic of)     2
Ukraine                                         2
India                                           2
Tunisia                                         2
Argentina                                       2
Colombia                                        2
Turkey                                          2
Paraguay                                        2
Lebanon                                         2
Mexico                                          2
Eswatini                                        1
Mozambique                                      1
Central African Republic                        1
Guatemala                                       1
Syrian Arab Republic                            1
Honduras                                        1
New Zealand                                     1
Peru                                            1
Guinea                                          1
Cyprus                                          1
Brazil                                          1
South Sudan                                     1
Sweden                                          1
Montenegro                                      1
Canary Is                                       1
Latvia                                          1
Nepal                                           1
Dominican Republic (the)                        1
Sierra Leone                                    1
Benin                                           1
Ecuador                                         1
Malaysia                                        1
Thailand                                        1
Panama                                          1
Albania                                         1
Pakistan                                        1
Name: Country, dtype: int64

In [28]:
phase3_heat["Country"].value_counts()

China                                 20
United States of America (the)        17
Japan                                 16
India                                 16
Brazil                                 9
                                      ..
Venezuela (Bolivarian Republic of)     1
Trinidad and Tobago                    1
Saint Lucia                            1
Saint Vincent and the Grenadines       1
Palau                                  1
Name: Country, Length: 127, dtype: int64